<nav class="relative px-4 py-4 flex justify-between items-center bg-white">
    <a class="text-3xl font-bold leading-none" href="/" data-turbo="false">
        <img class="mx-auto h-10 w-auto" src="/images/sherman_logo.png" alt="Sherman Buildings">
    </a>
    <div class="lg:hidden">
        <button class="navbar-burger flex items-center text-blue-600 p-3">
            <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> 
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </button>
    </div>
    <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
        <li>
            <%= link_to "Job Applications", root_path, class: "text-sm font-bold text-blue-600", data: {turbo: false} %>
        </li>
        <li class="text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
        </li>
        <li>
            <%= link_to "Contact Us", "/contact_us", class: "text-sm text-gray-400 hover:text-gray-500", data: {turbo: false} %>
        </li>
    </ul>
    <% if current_user %>
        <%= render 'templates/authenticated_header', user: current_user %> 
    <% else %>
        <%= link_to "Sign in", new_user_session_path , class: "hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200", data: {turbo: false} %>
        <%= link_to "Sign Up", new_user_registration_path , class: "hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200", data: {turbo: false} %>
    <% end %>
    
</nav>
<div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
            <a class="mr-auto text-3xl font-bold leading-none" href="#">
                <img class="mx-auto h-10 w-auto" src="/images/sherman_logo.png" alt="Sherman Buildings">
            </a>
            <button class="navbar-close">
                <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
        <div>
            <ul>
                <li class="mb-1">
                    <%= link_to "Job Applications", root_path, class: "block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded", data: {turbo: false} %>
                </li>
                <li class="mb-1">
                    <%= link_to "Contact Us", "/contact_us", class: "block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded", data: {turbo: false} %>
                </li>
            </ul>
        </div>
        <div class="mt-auto">
            <% if current_user %>
                <%= render 'templates/authenticated_header_mobile', user: current_user %> 
            <% else %>
                <div class="pt-6">
                    <%= link_to "Sign in", new_user_session_path , class: "block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-xl", data: {turbo: false} %>
                    <%= link_to "Sign Up", new_user_registration_path , class: "block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700  rounded-xl", data: {turbo: false} %>
                </div>
            <% end %>
            <p class="my-4 text-xs text-center text-gray-400">
                <span>Copyright © 2024</span>
            </p>
        </div>
    </nav>
</div>