<div class="flex flex-col h-screen">
  <div class="container mx-auto mt-4 px-4 pb-8">
    <div class="overflow-x-auto shadow rounded-lg">
      <table class="w-full min-w-full table-auto text-left">
        <thead>
          <tr>
            <th class="px-4 py-2 text-left border-b border-gray-300 bg-gray-100">First Name</th>
            <th class="px-4 py-2 text-left border-b border-gray-300 bg-gray-100">Last Name</th>
            <th class="px-4 py-2 text-left border-b border-gray-300 bg-gray-100">Email</th>
            <th class="px-4 py-2 text-left border-b border-gray-300 bg-gray-100">Age</th>
            <th class="px-4 py-2 text-left border-b border-gray-300 bg-gray-100">Gender</th>
            <th class="px-4 py-2 text-left border-b border-gray-300 bg-gray-100">Skills</th>
            <th class="px-4 py-2 border-b border-gray-300 bg-gray-100"></th>
          </tr>
        </thead>
        <tbody>
          <% @applicants.each do |applicant| %>
            <tr>
              <td class="px-4 py-2 border-b border-gray-200"><%= applicant.first_name %></td>
              <td class="px-4 py-2 border-b border-gray-200"><%= applicant.last_name %></td>
              <td class="px-4 py-2 border-b border-gray-200"><%= applicant.email %></td>
              <td class="px-4 py-2 border-b border-gray-200"><%= applicant.age %></td>
              <td class="px-4 py-2 border-b border-gray-200"><%= applicant.gender %></td>
              <td class="px-4 py-2 border-b border-gray-200"><%= applicant.skills.join(",") %></td>
              <td class="px-4 py-2 flex items-center">
                <%= link_to edit_applicant_path(applicant), class: "rounded-lg py-3 px-3 bg-blue-600 text-white block font-small" do %>
                  <svg class="h-8 w-8 text-stone-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                  </svg>
                <%end%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
