<div id="<%= dom_id applicant %>">
  <% if current_user.admin? %>
    <p class="my-5">
      <strong class="block font-medium mb-1">User:</strong>
      <%= applicant.user.name %>
    </p>
  <% end %>

  <p class="my-5">
    <strong class="block font-medium mb-1">My level:</strong>
    <%= applicant.my_level %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Full time:</strong>
    <%= applicant.full_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fav pet:</strong>
    <%= sanitize applicant.fav_pet %>
  </p>

  <% if current_user.admin? %>
    <p class="my-5">
      <strong class="block font-medium mb-1">Eval:</strong>
      <%= applicant.eval %>
    </p>
  <% end %>

  <% if action_name != "show" %>
    <%# link_to "Show this applicant", applicant, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this applicant", edit_applicant_path(applicant), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
