<%= form_with(model: model, class: "contents") do |form| %>

  <% if @applicant.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
        <% @applicant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <p>How many years of experience do you have with Rails?</p>
    <%= form.radio_button :experience, 'None' %>
    <%= form.label :experience_none, '0-1 years' %>
    <%= form.radio_button :experience, 'Some' %>
    <%= form.label :experience_some, '2-5 years' %>
    <%= form.radio_button :experience, 'Lots' %>
    <%= form.label :experience_lots, '6+ years' %>
  </div>

  <div class="my-5">
    <% days = ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']%>
    <% days.each do |day|%>
      <%= form.check_box :availability, { multiple: true }, day, false %>
      <%= form.label day%>
    <%end%>

  </div>

  <div class="inline">
    <%= form.submit 'Submit', class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
