<div class="container">
<main>
<div class="row">

<div class="col-md-12">

<%= form_with(model: user, class: "contents") do |form| %>

  <br/>

  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br/>

  <div class="my-3 col-md-5">
    <%= form.label :name, class: "form-label block" %>
    <%= form.text_field :name, class: "form-control block rounded-md border border-gray-200 outline-none" %>
  </div>

  <div class="flex">
    <%= form.submit class: "col-md-2 btn btn-primary" %>
    <span class="col-md-1"></span>
    <%= link_to "Cancel", root_path, class: "col-md-2 btn btn-danger" %>
  </div>
<% end %>

</div>
</div>
</main>
</div>
