
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-lg">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900">Contact Us</h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 sm:text-xl">Got a technical issue? Want to send feedback? Need details about our opening jobs? Let us know.</p>
      <%= form_with(url: contact_us_path, class: "space-y-8", local: true) do |form| %>
        <div>
            <%= form.label :email, "Your email", class: "block mb-2 text-sm font-medium text-gray-900" %>
            <%= form.email_field :email, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5", placeholder: "name@example.com", required: true %>
        </div>
        <div>
            <%= form.label :subject, "Subject", class: "block mb-2 text-sm font-medium text-gray-900" %>
            <%= form.text_field :subject, class: "block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500", placeholder: "Let us know how we can help you", required: true %>
        </div>
        <div class="sm:col-span-2">
            <%= form.label :message, "Your message", class: "block mb-2 text-sm font-medium text-gray-900" %>
            <%= form.text_area :message, rows: 6, class: "block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500", placeholder: "Leave a comment...", required: true %>
        </div>
        <%= form.submit "Send message", class: "rounded py-2 px-3 bg-blue-600 text-white inline-block cursor-pointer" %>
        <% end %>
  </div>
  <main class="max-w-screen-xl px-4 mx-auto lg:px-12 w-full mb-auto h-10 mt-4"></main>

