<div class='mb-16'>
  <h1 class='text-3xl font-bold'>Spring 2024 Junior Rails Developer Application</h1>
  <p class='text-2xl py-2'>
  As a Thank You, use discount code <em><strong>appdev20</strong></em> for $20 off at our
  <%= link_to 'Merch Store', 'https://store.shermanpolebuildings.com/', class: 'text-blue-600 underline' %><%#%>.
  
  <h2 class='text-3xl mt-3'>Why?</h2>
  <p>
  We still have 50-100 qualifying candidates for this position.
  <p>
  Candidates who successfully complete the below will be offered an hourly rate, given access to our private repository, and assigned tasks.
  <p>
  If you feel like you should be able to shmooze your way into this position though a charismatic interview or big talk, you are probably not the right fit.
  <p>
  We are looking for someone who understands what our organization needs and the responsibilities of the position as a contractor.
  <p>
  We can&apos;t be bogged down with the basics that can be learned in a few hours of Googling.
  <p>
  We are, however, delighted to help you learn and grow in your career.
  <p>
  We enjoy debates over how to implement functionality, but only with those who already know how to implement and share their own ideas.
  
  <h2 class='text-3xl mt-3'>How?</h2>
  <p>
  Demonstrate your ability to fork a repository, make a branch, build out an application, and make a pull request.
  <p>
  We&apos;ve created a base Rails application for you to build on. It already has a User model and a Devise authentication system.
  Please see the README file in the repository for more information.
  <p>
  <%= link_to 'GitHub Repository', 'https://github.com/devsherm/ShermanEval', class: 'text-blue-600 underline' %><%#%>
  <p>
  <h3 class='text-2xl mt-2'>Git(hub) Competence Option 1 (Public):</h3>
  If you are comfortable using a public repository where others can see your PR.
  <p>
  Will another candidate steal my work?
  We don&apos;t think so. See 'Public?' below, or the next section for a private option.
  <ul class='list-disc pl-6'>
    <li> Fork the repository.</li>
    <li> Create a Development branch.</li>
    <li> Build out the application.</li>
    <li> Merge the Development branch into your Main branch.</li>
    <li> Make a pull request from your fork to our original.</li>
  </ul>
  <p>
  <h3 class='text-2xl mt-2'>Git(hub) Competence Option 2 (Private):</h3>
  If you are not comfortable using a public repository or do not want others to see your PR.<br>
    (In the future, as part of the job, you will need to submit PRs to our <em><strong>private</strong></em> repository where your coworkers can see them)
  <p>
  Some resources:<br>
  <%= link_to 'Stack Overflow: private fork of public repository', 'https://stackoverflow.com/questions/10065526/github-how-to-make-a-fork-of-public-repository-private', class: 'text-blue-600 underline' %><%#%>
  <br>
  <%= link_to 'git-scm: git-format-patch', 'https://git-scm.com/docs/git-format-patch', class: 'text-blue-600 underline' %><%#%>
  <ul class='list-disc pl-6'>
    <li> Clone and Mirror the repository to your private repository.</li>
    <li> Create a Development branch.</li>
    <li> Build out the application.</li>
    <li> Merge the Development branch into your Main branch.</li>
    <li> Create a patch file of your changes.</li>
    <li> Email the patch file to us: deven@shermanbuildings.com</li>
  </ul>

  <h2 class='text-3xl mt-3'>What?</h2>
  <h3 class='text-2xl mt-2'>Rails Competence:</h3>
  <p>
  Recreate the previous questionnaire you filled out. This took me 58 minutes from once I had my development environment set up until I made a Pull Request to devsherm/ShermanEval:main.
  <p>
  <%= link_to 'sign in', 'https://hiring-59acb567fa83.herokuapp.com/applicants/', class: 'text-blue-600 underline' %><%#%>
  <p>
  <%= link_to 'public', 'https://hiring-59acb567fa83.herokuapp.com/applicants/new', class: 'text-blue-600 underline' %><%#%>
  <p>
  <ul class='list-disc pl-6'>
    <li> The questionnaire can have any questions you would like, but it should have at least one text field, one radio button, and one checkbox.</li>
    <li> The questionnaire should have a submit button that saves the answers to the database.</li>
    <li> The Admin should be able to see all the answers to the questionnaire.</li>
    <li> The Admin should be able to categorize the applicants upon review.</li>
    <li> You may choose to require candidates to create an account before they can fill out the questionnaire.</li>
    <li> Candidates can sign in as users and see their answers to the questionnaire.</li>
    <li> No non-Admin should be able to see any other candidate&apos;s answers.</li>
  </ul>
  <h3 class='text-2xl mt-2'>Optional Rails Flair:</h3>
  <p>
  An opportunity to show off your skills or creativity.
  <p>
  <strong>Examples:</strong>
  <ul class='list-disc pl-6'>
    <li> Allow the Admin to send an email to a candidate.</li>
    <li> Input validation on the questionnaire.</li>
    <li> Input sanitization on the questionnaire.</li>
    <li> Sorting in the Admin view.</li>
    <li> A touch of JS to make the application more user-friendly.</li>
  </ul>
  
  <h2 class='text-3xl mt-3'>Eval</h2>
  <p>
  We will evaluate your application based on the following criteria:
  <ol class='list-decimal pl-6'>
    <li> Git(hub) Competence (Mandatory): Options 1 & 2 are treated equally.</li>
    <li> Ruby on Rails Competence (Mandatory): Double check against bullet list!</li>
    <li> Ruby on Rails Flair (Optional): If we are overwhelmed with competent candidates, this will be the determining factor.</li>
  </ol>

  <h2 class='text-3xl mt-3'>Public?</h2>
  <p>
  When it comes to the basic project requirements, we don&apos;t believe any candidates project is a better resource
  for another candidate to copy than what is already available online or through generative AI. Actually, I did it myself
  and my PR is public.
  <p>
  Regarding your flair. Perhaps someone will be inspired by your work, but we believe that is a good thing and you should be proud.
  And after all, we supplied our own ideas above.
  Blatant plagiarism will be obvious and not tolerated. Also, we will always be able to see who submitted their work first.
  
  <h2 class='text-3xl mt-3'>Questions?</h2>
  <p>
  Email Deven at deven@shermanbuildings.com

  <h2 class='text-3xl mt-3'>Final Thoughts</h2>
  <p>
  We know some will roll their eyes, and others will wonder why they have to do "work" for free.
  <p>
  Yet others will recognize how much better this is than memorizing catchy phrases and buzzwords for interview questions.
  <p>
  They know that this is a chance to show their skills, and they won&apos;t get lost in an ineffective interview process.
  <p>
  We are so looking forward to working with the latter.
  <p class='py-2'>
  Best Regards and Good Luck,
  <p>
  Deven and the Sherman Buildings Team
</div>
