<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-3xl font-bold leading-6 text-gray-900">Listing Mail Histories</h1>
    </div>
    <% if !current_user.admin %>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <%= link_to 'New Mail History', new_mail_history_path, class: 'block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>
      </div>
    <% end %>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300 mb-5">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Subject</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Sender Email</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">User</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @mail_histories.each do |mail_history| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= mail_history.subject %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= mail_history.status %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= mail_history.sender_email %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= mail_history.user.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= tailwind_pagy_nav(@pagy)%>
      </div>
    </div>
  </div>
</div>
