<div class="container mt-4">
  <%= form_with(model: @questionnaire, local: true, html: {class: 'needs-validation'}, novalidate: true) do |form| %>
    <% if @questionnaire.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>
        <ul>
          <% @questionnaire.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :long_text, 'Write a blurb about yourself:', class: 'form-label' %>
      <%= form.text_area :long_text, class: 'form-control', readonly: current_user.admin? %>
    </div>

    <div class="mb-3">
      <%= form.label :short_text, 'What city and state do you live in?', class: 'form-label' %>
      <%= form.text_field :short_text, class: 'form-control', readonly: current_user.admin? %>
    </div>

    <fieldset class="mb-3">
      <legend class="form-label pt-0">What type of work schedule do you prefer?</legend>
      <div class="form-check">
        <%= form.radio_button :radio_choice, "Hybrid", class: 'form-check-input', id: "radio_choice_hybrid", disabled: current_user.admin? %>
        <%= label :radio_choice, "Hybrid", class: 'form-check-label', for: "radio_choice_hybrid" %>
      </div>
      <div class="form-check">
        <%= form.radio_button :radio_choice, "Remote", class: 'form-check-input', id: "radio_choice_remote", disabled: current_user.admin? %>
        <%= label :radio_choice, "Remote", class: 'form-check-label', for: "radio_choice_remote" %>
      </div>
    </fieldset>

    <div class="mb-3">
      <%= form.check_box :checkbox, class: 'form-check-input', id: "questionnaire_checkbox", disabled: current_user.admin? %>
      <%= label :checkbox, 'Check this box if you consent to receiving emails from ShermanEval.', class: 'form-check-label', for: "questionnaire_checkbox" %>
    </div>

    <% if current_user.admin? %>
      <div class="mb-3">
        <%= form.label :category, class: 'form-label' %>
        <%= form.text_field :category, class: 'form-control' %>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit "Update", class: 'btn btn-primary' %>
      <%= link_to 'Back', questionnaire_path(@questionnaire), class: "btn btn-info" %>
    </div>
  <% end %>
</div>
