<div class="row mb-3 text-center">

  <div class="col-md-2">
    <%= survey.favorite_cube %>
  </div>
  <div class="col-md-2">
    <%= survey.like_ruby %>
  </div>

  <div class="col-md-6">
    <div class="pb-3">
      <%= survey.last_project %>
    </div>
  </div>

  <div class="col-md-2">
    <%= survey.user.name %>
    <br/>
    <%= survey.user.email %>
  </div>

</div>
