<%= render 'layouts/middle_bar_for_application' %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3" style="margin: 0 -15px; border-radius: 15px;">
<div class="container mt-3">
  <div class="bg-dark text-white p-4 rounded">

    <% JobApplication.where(email: @user.email).each do |job_application| %>
      <ul class="list-unstyled text-white mt-3">
        <li>
          <strong>Experience:</strong>
          <%= job_application.experience_level %>
        </li>
        <li>
          <strong>Remote OK:</strong>
          <%= job_application.remote_ok ? 'Yes' : 'No' %>
        </li>
        <li>
          <strong>Created On:</strong>
          <%= job_application.created_at.strftime("%B %d, %Y") %> 
        </li>
        <li>
          <strong>Status:</strong>
          <%= job_application.status.humanize %>
        </li>
        <li>
          <strong>About:</strong>
          <%= job_application.about %>
      </ul>
      <hr class="bg-white">

      <% if job_application.resume.attached? %>
        <%= link_to 'Download Resume', rails_blob_path(job_application.resume, disposition: "attachment") %>
      <% else %>
        No resume attached.
      <% end %>
    <% end %>

    <div class="mt-3">
      <%= link_to 'Back', root_path, class: 'btn btn-outline-light' %>
    </div>
  </div>
</div>
</nav>