<%= form_with(model: user_application, class: "contents") do |form| %>
  <% if user_application.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(user_application.errors.count, "error") %> prohibited your application from being saved:</h2>

      <ul>
        <% user_application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="my-5">
    <%= form.label :skills %><br>
    <%= form.collection_check_boxes :skills, [['Ruby', 'ruby'], ['React', 'react'], ['Vue.js', 'vue'], ['Python', 'python']], :second, :first do |b| %>
      <div class="mt-2 flex items-center">
        <%= b.check_box class: "mr-2" %>
        <%= b.label class: "inline-block" %>
      </div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :about_me %>
    <%= form.text_area :about_me, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :gender %><br>
    <%= form.collection_radio_buttons :gender, [['Other', 'other'], ['Male', 'male'], ['Female', 'female']], :second, :first do |b| %>
      <div class="mt-2">
        <%= b.radio_button class: "mr-2" %>
        <%= b.label class: "inline-block" %>
      </div>
    <% end %>
  </div>

  <% if current_user.admin? %>
    <div class="my-5">
      <%= form.label :score %>
      <%= form.number_field :score, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit "Submit", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
