<% if current_user.admin? || (@job_application.present? && @job_application.user.present?) %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-2" style="margin: 0 -15px; border-radius: 15px;">
    <div class="container-fluid">
      <div class="d-flex justify-content-between w-100">
        <div class="text-light">
          <% if @job_application.present? %>
            <p>Name: <%= @job_application.name %></p>
            <p>Email: <%= @job_application.user.email %></p>
            <% if @job_application.user.present? && current_user.admin? %>
              <%= button_to 'Notify Applicant', send_status_update_email_admin_user_path(@job_application.user.email), method: :post, class: 'mb-2 btn btn-primary', id: 'notify-button' %>
              <p id="notify-text" style="display: none;">Email sent to applicant</p>
            <% end %>
          <% elsif current_user.admin? %>
            <p>No application selected</p>
          <% end %>
        </div>
        <% if current_user.admin? && @job_application.present? && @job_application.user.present? %>
          <div style="position: absolute; bottom: 0; right: 15px;">
            <%= form_with(model: @job_application, url: update_status_admin_user_path(@job_application.user), method: :patch, local: true, class: 'd-flex align-items-center') do |f| %>
              <%= f.hidden_field :user_id, value: @job_application.user.id %>
              <div class="form-group mb-0">
                <%= f.label :status, class: 'text-light mr-2' %>
                <%= f.select :status, JobApplication.statuses.keys.map { |status| [status.humanize, status] }, {}, { class: 'form-control custom-select mb-4 me-2', style: 'width: auto;' } %>
              </div>
              <%= f.submit 'Update Status', class: 'btn btn-primary' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
<% end %>

<script>
  document.getElementById('notify-button').addEventListener('click', function() {
    this.style.display = 'none';
    document.getElementById('notify-text').style.display = 'block';
  });
</script>
