<!DOCTYPE html>
<html class="bg-white">
  <head>
    <title>ShermanEval</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= tinymce_assets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <div class="flex flex-col h-screen justify-between">
      <%= render 'templates/header' %>
      <div class="flex flex-col">
        <div class="justify-between flex flex-col items-center pt-4 pb-4">
          <% if notice.present? %><%#%>
            <div class='py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block' id='notice'>
              <%= notice %><%#%>
            </div>
          <% end %><%#%>
          <% if alert.present? %><%#%>
            <div class='py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block' id='alert'>
              <%= alert.html_safe %><%#%>
            </div>
          <% end %><%#%>
        </div>
      </div>
      <% if local_assigns[:errors] %><%#%>
        <%= render 'layouts/object_errors', errors: local_assigns[:errors] %><%#%>
      <% end %><%#%>
      <%= yield %>
      <%= render 'templates/footer' %>
      <div id="modal-container"></div>
      </div>

      
  </body>
</html>
